:root {
    --main-color: #353941;
    --primary-color: #26282B;
    --secondary-color: #F0F0F0;
    --tertiary-color: #90B8F8;
}

* {
    margin: 0;
}

body {
    color: #F0F0F0;
    background-color: var(--main-color);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2vw 10vw;
    background-color: var(--primary-color);
}

.header div {
    display: flex;
}

.header div div {
    height: 2.5em;
    margin: 0em 1em;
    align-self: center;
}

.list-container {
    display: flex;
    flex-direction: column;
}

.list-header div,
.element div {
    flex-grow: 1;
    text-align: center;
    min-width: 12vw;
    max-width: 12vw;
}

.element,
.list-header {
    display: flex;
    min-height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}