:root {
    --main-color: #353941;
    --primary-color: #26282B;
    --secondary-color: #F0F0F0;
    --tertiary-color: #90B8F8;
}

* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

body {
    color: var(--secondary-color);
    background-color: var(--main-color);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2vw 10vw;
    background-color: var(--primary-color);
}

.header div {
    display: flex;
}

.header div div {
    height: 2.5em;
    margin: 0em 1em;
    align-self: center;
}

.list-container {
    display: flex;
    flex-direction: column;
}

.list-header div,
.element div {
    flex-grow: 1;
    text-align: center;
    min-width: 12vw;
    max-width: 12vw;
}

.list-header div:nth-of-type(4),
.element div:nth-of-type(4) {
    flex-grow: 1;
    max-width: 20em;
}

.element,
.list-header {
    display: flex;
    min-height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

.form-bg {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
}

.form div {
    display: flex;
    align-items: center;
    padding: 1.5em;
}

.form div label {
    min-width: 10em;
}

.form div input,
.form div select {
    width: 100%;
}

.form div:last-child {
    align-content: center;
    justify-content: center;
}

.element i {
    min-width: 2.5em;
    text-align: center;

}

i {
    cursor: pointer;
    color: var(--tertiary-color);
}

.form div:nth-of-type(1) {
    padding: 0;
    justify-content: flex-end;
    padding: 1em 1em 0 0;
}

.done {
    background-color: var(--primary-color);
}